@font-face {
    font-family: Mieghommel;
    src: url(../fonts/Mieghommel.ttf);
}

@font-face {
    font-family: Rany;
    src: url(../fonts/Rany.otf)
}

@font-face {
    font-family: NeuteralBold;
    src: url(../fonts/NeutralFace-Bold.otf)
}