@import "./fonts.css";

* {
  padding: 0;
  margin: 0;
}
html,
body {
  position: relative;
  height: 100%;
}

.for-page {
  position: relative;
  min-height: 100%;
  padding-bottom: 20px;
}
header {
  background-color: antiquewhite;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.contact-info {
  font-family: Mieghommel;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px 25px 14px;
}

.contact-info img {
  width: 7%;
  max-width: auto;
  height: auto;
  cursor: pointer;
}

.contact-info .contact {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.contact-info .contact a {
  text-decoration: none;
  color: black;
}
.navigate {
  background: #0c176e;
}
.navigate ul {
  list-style: none;
}
.navigate ul.menu > li {
  display: inline-block;
  position: relative;
}
.navigate ul.menu > li > a {
  color: #fff;
  font-size: 15px;
  padding: 10px 25px;
  display: inline-block;
  text-decoration: none;
}
.navigate ul.menu li a:hover {
  background: #075d71;
}
.navigate ul.menu li ul.sub-menu li a {
  color: #fff;
  font-size: 15px;
  padding: 10px 25px;
  display: block;
  text-decoration: none;
}
ul.sub-menu {
  display: none;
  background: #63359e;
  position: absolute;
  left: 0;
  top: 37px;
  width: 200px;
}

ul.sub-menu li:nth-child(4) {
  position: relative;
}

ul.sub-menu-child {
  display: none;
  background: #63359e;
  position: absolute;
  left: 200px;
  top: 0px;
  width: 200px;
}

.navigate ul.menu li:nth-child(3):hover ul.sub-menu {
  display: block;
}

.navigate ul.menu ul.sub-menu li:nth-child(4):hover ul.sub-menu-child {
  display: block;
}

.background {
  background-image: url(../img/yellow-sunflowers-blossom-ztmo48gma8rqgngx.jpg);
  background-size: stretch;
  padding-bottom: 220px;
  padding-top: 20px;
  margin-bottom: 210px;
}

.square {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  width: 700px;
  padding: 50px 50px 80px 50px;
  background-color: rgba(214, 214, 214, 0.678);
  margin-bottom: 50px;
}

footer {
  background: antiquewhite;
  padding: 62.5px 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: Mieghommel;
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: space-between;
}

footer .lefted {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .centered {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text {
  margin-bottom: 10px;
  color: black;
}

.links {
  color: black;
  text-decoration: none;
}

footer .righted {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
